.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}
@media (max-width: 991.98px) {
  .logo {
    gap: 10px;
    margin-left: 40px;
  }
}
@media (max-width: 767.98px) {
  .logo {
    margin-left: 0;
  }
}
.logo__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.45;
}
@media (max-width: 991.98px) {
  .logo__title {
    font-size: 1.8rem;
  }
}
@media (max-width: 991.98px) {
  .logo__img {
    width: 24px;
  }
}

.dropdown {
  position: absolute;
  left: 0;
  padding-top: 54px;
  width: min(1240px, 100%);
  display: none;
}
@media (max-width: 991.98px) {
  .dropdown {
    position: initial;
    padding-top: 0;
  }
}
.dropdown__inner {
  --inner-padding: 30px;
  position: relative;
  padding: var(--inner-padding);
  border-radius: 20px;
  background: var(--dropdown-bg-color);
  box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
}
.dropdown__inner::before {
  content: url(../icons/dropdown-arrow.svg);
  position: absolute;
  top: -13px;
  left: var(--arrow-left-pos);
  translate: -50%;
  filter: var(--dropdown-arrow-color);
}
@media (max-width: 991.98px) {
  .dropdown__inner {
    padding: 0 40px;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .dropdown__inner::before {
    content: none;
  }
}
@media (max-width: 575.98px) {
  .dropdown__inner {
    padding: 0 20px;
  }
}

.top-menu {
  position: relative;
  --main-column-width: 292px;
  --max-inner-height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
}
.top-menu__main {
  overflow-y: auto;
  width: var(--main-column-width);
  height: var(--max-inner-height);
  border-right: 1px solid var(--top-menu-border-color);
}
@media (max-width: 991.98px) {
  .top-menu__main {
    width: 100%;
    height: auto;
    border-right: none;
  }
}

.menu-column {
  display: flex;
  gap: 14px;
}
.menu-column + .menu-column {
  margin-top: 22px;
}
@media (max-width: 991.98px) {
  .menu-column {
    margin-top: 10px;
  }
}
.menu-column__icon {
  position: relative;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
}
@media (max-width: 1199.98px) {
  .menu-column__icon {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .menu-column__icon {
    display: block;
  }
}
.menu-column__content {
  flex: 1;
}
.menu-column__icon-1 {
  object-fit: contain;
  width: 30px;
  height: 30px;
}
.menu-column__icon-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: contain;
  width: 24px;
  height: 24px;
  filter: var(--menu-column-icon-color);
}
.menu-column__heading {
  margin-top: 4px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
@media (max-width: 991.98px) {
  .menu-column__heading {
    margin-bottom: 26px;
  }
}
.menu-column__list {
  margin-top: 19px;
}
@media (max-width: 991.98px) {
  .menu-column__list {
    margin-top: 0;
  }
}
.menu-column__item--active .sub-menu {
  display: grid;
}
.menu-column__item--active > .menu-column__link, .menu-column__item:hover > .menu-column__link {
  color: #0071dc;
  font-weight: 500;
}
.menu-column__link {
  display: block;
  padding: 7px 0;
  font-size: 1.4rem;
  line-height: 142.857%;
}

.sub-menu {
  position: absolute;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--inner-padding);
  overflow-y: auto;
  inset: 0 0 0 var(--main-column-width);
  padding-left: 0;
}
@media (max-width: 991.98px) {
  .sub-menu {
    position: initial;
    grid-template-columns: 1fr;
  }
}
.sub-menu--not-main {
  position: initial;
  inset: initial;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: var(--max-inner-height);
  padding-left: 0;
}
@media (max-width: 991.98px) {
  .sub-menu--not-main {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.slideshow {
  position: relative;
}
.slideshow__inner {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.slideshow__item {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  padding-top: 34%;
}
@media (max-width: 767.98px) {
  .slideshow__item {
    padding-top: 50%;
  }
}
.slideshow__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 20px;
}
.slideshow__page {
  --color: red;
  position: absolute;
  bottom: 15%;
  left: 5.2%;
  width: 12.8%;
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.slideshow__num {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
  color: #fff;
}
@media (max-width: 767.98px) {
  .slideshow__num {
    font-size: 1.4rem;
    line-height: 1.43;
  }
}
.slideshow__slider {
  position: relative;
  flex-shrink: 0;
  background: #fff;
  width: 100%;
  height: 4px;
}
@media (max-width: 767.98px) {
  .slideshow__slider {
    height: 3px;
  }
}
.slideshow__slider::before, .slideshow__slider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 4px solid #fff;
  border-radius: 50%;
}
@media (max-width: 767.98px) {
  .slideshow__slider::before, .slideshow__slider::after {
    border-width: 3px;
  }
}
.slideshow__slider::before {
  left: 0;
  translate: -90% -50%;
}
.slideshow__slider::after {
  right: 0;
  translate: 90% -50%;
}

.cate-item {
  display: flex;
  gap: 20px;
  height: 100%;
  align-items: center;
  padding: 20px 26px;
  border-radius: 16px;
  background: var(--cate-item-bg);
}
@media (max-width: 1199.98px) {
  .cate-item {
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .cate-item {
    flex-direction: row;
  }
}
.cate-item__thumb {
  width: 116px;
  height: 116px;
  object-fit: contain;
  background-color: var(--cate-item-thumb-bg);
  border-radius: 8px;
}
@media (max-width: 1199.98px) {
  .cate-item__thumb {
    width: 100%;
    height: 150px;
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  .cate-item__thumb {
    width: 88px;
    height: 88px;
    margin: 0;
  }
}
.cate-item__info {
  padding-right: 30px;
}
@media (max-width: 1399.98px) {
  .cate-item__info {
    padding-right: 0;
  }
}
.cate-item__title {
  color: var(--cate-item-title-color);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
}
@media (max-width: 767.98px) {
  .cate-item__title {
    font-size: 1.8rem;
  }
}
.cate-item__desc {
  margin-top: 6px;
  font-size: 1.6rem;
  line-height: 150%;
}
@media (max-width: 767.98px) {
  .cate-item__desc {
    font-size: 1.4rem;
    line-height: 142.857%;
  }
}

.filter-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  height: 36px;
  color: var(--filter-btn-color);
  border-radius: 6px;
  background: var(--filter-btn-bg);
  padding: 0px 14px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.43;
}

.like-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);
}
.like-btn:not(.like-btn--liked) .like-btn__icon--liked {
  display: none;
}
.like-btn--liked .like-btn__icon {
  display: none;
}
.like-btn__icon--liked {
  margin-top: 6px;
}

.btn {
  height: 46px;
  padding: 0 20px;
  border-radius: 6px;
  background-color: #f8f8fb;
  font-size: 1.8rem;
  font-weight: 500;
  user-select: none;
}
.btn + .btn {
  margin-left: 20px;
}
.btn--text {
  background-color: transparent;
  color: #9e9da8;
  font-weight: 400;
}
.btn--primary {
  background-color: #ffb700;
  color: #1a162e;
}
.btn--outline {
  background-color: transparent;
  border: 1px solid #d2d1d6;
}
.btn--rounded {
  border-radius: 99px;
}
.btn[disabled], .btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}
.btn:hover {
  opacity: 0.9;
}

.product-card {
  padding: 16px;
  border-radius: 20px;
  background: var(--product-card-bg);
  box-shadow: 0px 20px 60px 10px var(--product-card-shadow);
}
.product-card__img-wrap {
  position: relative;
  padding-top: 100%;
}
.product-card__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-card__like-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.product-card__title {
  margin-top: 16px;
}
.product-card__title, .product-card__price, .product-card__score {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
.product-card__brand {
  color: #9e9da8;
  margin: 16px 0;
  font-size: 1.5rem;
  line-height: 146.667%;
}
.product-card__row {
  display: flex;
  align-items: center;
}
.product-card__star {
  margin-left: auto;
  margin-right: 6px;
}

.filter-wrap {
  position: relative;
  z-index: 1;
}

.filter {
  position: absolute;
  right: 0;
  top: 55px;
  padding: 30px;
  background-color: var(--filter-form-bg);
  box-shadow: 0px 40px 90px var(--filter-form-shadow);
  border-radius: 20px;
  transition-duration: 0.2s;
}
@media (max-width: 1199.98px) {
  .filter {
    height: calc(100vh - 80px);
    overflow-y: auto;
    padding-bottom: 0;
    scroll-behavior: contain;
  }
}
@media (max-width: 575.98px) {
  .filter {
    width: 85vw;
  }
}
.filter.hide {
  opacity: 0;
  visibility: hidden;
}
.filter__arrow {
  height: 24.25px;
  position: absolute;
  top: -17px;
  right: 24px;
  filter: var(--filter-form-arrow);
}
.filter__heading {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 145.455%;
}
.filter__form {
  margin-top: 30px;
}
.filter__form-label {
  display: block;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 145.455%;
}
.filter__form-label--small {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
  margin-bottom: 10px;
}
.filter__form-group {
  margin-top: 20px;
}
.filter__form-group--inline {
  display: flex;
  column-gap: 30px;
}
.filter__form-slider {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #d2d1d6;
}
.filter__form-slider::before, .filter__form-slider::after {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  display: block;
  width: 22px;
  height: 22px;
  border: 6px solid #ffb700;
  border-radius: 50%;
  background-color: var(--filter-form-bg);
}
.filter__form-slider::before {
  left: var(--min-value);
}
.filter__form-slider::after {
  left: var(--max-value);
}
.filter__form-text-input, .filter__form-select-wrap {
  border-radius: 6px;
  border: 1px solid #d2d1d6;
}
.filter__form-text-input {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 334px;
  height: 44px;
  padding: 0 16px;
}
@media (max-width: 575.98px) {
  .filter__form-text-input {
    width: 100%;
  }
}
.filter__form-text-input--small {
  width: 121px;
  height: 36px;
  padding: 0 12px;
}
.filter__form-text-input--small .filter__form-input {
  font-size: 1.4rem;
}
.filter__form-input {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
.filter__form-input::placeholder {
  font-weight: 400;
  color: #9e9da8;
}
.filter__form-input-icon {
  margin-left: 12px;
}
.filter__form-select-wrap {
  display: flex;
  align-items: center;
  height: 45px;
}
.filter__form-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  min-width: var(--width, 108px);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
  height: calc(100% - 10px);
  cursor: pointer;
}
.filter__form-select + .filter__form-select {
  border-left: 1px solid #d2d1d6;
}
.filter__form-tags {
  display: flex;
  align-items: center;
  gap: 10px 20px;
  flex-wrap: wrap;
}
.filter__form-tag {
  padding: 6px 12px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
  background-color: var(--filter-form-tag-bg);
  border-radius: 6px;
  color: #9e9da8;
  transition: color 0.25s;
}
.filter__form-tag:hover {
  color: var(--text-color);
}
.filter__row {
  display: flex;
}
.filter__separate {
  width: 1px;
  background-color: #eee;
  margin: 0 30px;
}
@media (max-width: 1199.98px) {
  .filter__separate {
    width: 100%;
    height: 1px;
    margin: 30px 0;
  }
}
.filter__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 32px;
}
@media (max-width: 1199.98px) {
  .filter__footer {
    position: sticky;
    bottom: 0;
    background-color: transparent;
    padding-bottom: 16px;
  }
}
.filter__cancle, .filter__submit {
  height: 38px;
  padding: 0 10px;
}
@media (max-width: 575.98px) {
  .filter__cancle, .filter__submit {
    flex: 1;
  }
}
.filter__cancle {
  font-size: 1.5rem;
}
.filter__submit {
  font-size: 1.4rem;
}
@media (max-width: 1199.98px) {
  .filter__content {
    flex-direction: column;
  }
}

/*# sourceMappingURL=index.css.map */
