@use "../abstracts";

html.dark {
    --text-color: #ffffff;
    // Vì là ảnh nên không dùng giá trị màu hex được
    // Mà phải biến đổi thành css filter generator
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7424%) hue-rotate(221deg)
        brightness(110%) contrast(102%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(12%) sepia(3%) saturate(6390%) hue-rotate(186deg)
        brightness(92%) contrast(76%);
    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(93%) sepia(1%) saturate(288%) hue-rotate(202deg)
        brightness(106%) contrast(98%);

    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);

    // Category item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title-color: #fff;
}
