%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--header-bg-color);
}
// Không lồng top-bar vào header
// Vì lồng vào như vậy sẽ bị quá dài
// chỉ lồng khi khi cần thiết
.top-bar {
    @extend %flexItemsCenter;
    padding: 30px 0;
}

.navbar {
    margin-left: 144px;
    // Để cụm action sát mép bên phải
    margin-right: auto;

    &__list {
        @extend %flexItemsCenter;
        gap: 30px;
    }

    &__link {
        @extend %flexItemsCenter;
        gap: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.47;
    }

    &__arrow {
        margin-top: 3px;
    }
}
.top-act {
    @extend %flexItemsCenter;
    gap: 20px;

    &__group {
        @extend %flexItemsCenter;

        // Để min-width để căn chỉnh lại cái nút đôi
        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        @extend %flexItemsCenter;
        padding: 13px;
        gap: 10px;
        padding: 13px 20px;
        cursor: pointer;
    }

    &__title {
        color: #1a162e;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.47;
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
        cursor: pointer;
    }
}
