@use "../abstracts";

.cate-item {
    display: flex;
    gap: 20px;
    // Để cho 3 cột sản phẩm luôn bằng nhau
    // Lấy chiều cao của thằng cao nhất làm chuẩn
    height: 100%;
    align-items: center;
    padding: 20px;
    border-radius: 16px;
    background: var(--cate-item-bg);

    @include abstracts.screen(xl) {
        flex-direction: column;
    }

    @include abstracts.screen(md) {
        flex-direction: row;
    }

    &__thumb {
        width: 100px;
        height: 100px;
        // Không dùng cover
        // Vì ảnh sản phẩm phải thấy tổng thể
        object-fit: contain;
        background-color: var(--cate-item-thumb-bg);
        border-radius: 8px;

        @include abstracts.screen(xl) {
            width: 100%;
            height: 150px;
            margin: 0 auto;
        }

        @include abstracts.screen(md) {
            width: 88px;
            height: 88px;
            margin: 0;
        }
    }

    &__info {
        padding-right: 30px;

        @include abstracts.screen(xxl) {
            padding-right: 0;
        }
    }

    &__title {
        color: var(--cate-item-title-color);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;

        @include abstracts.screen(md) {
            font-size: 1.8rem;
        }
    }

    &__desc {
        margin-top: 6px;
        font-size: 1.6rem;
        line-height: 150%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }
}
