@use "../abstracts";

.slideshow {
    position: relative;

    &__inner {
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    &__item {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        // Tạo ra 1 khoảng trống để để cái slideshow
        padding-top: 26%;

        @include abstracts.screen(md) {
            padding-top: 50%;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 20px;
    }
    &__page {
        --color: red;
        position: absolute;
        // Dùng % để lúc responsive không cần căn chỉnh lại
        bottom: 15%;
        left: 5.2%;
        // Đặt cái này để responsive cái thanh slider
        // không cần phải chỉnh lại nữa
        width: 12.8%;
        display: flex;
        align-items: center;
        // Gần giống như margin left vậy
        column-gap: 24px;
    }
    &__num {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        color: #fff;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 1.43;
        }
    }
    &__slider {
        position: relative;
        flex-shrink: 0;
        background: #fff;
        width: 100%;
        height: 4px;
        @include abstracts.screen(md) {
            height: 3px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            width: 14px;
            height: 14px;
            border: 4px solid #fff;
            border-radius: 50%;

            @include abstracts.screen(md) {
                border-width: 3px;
            }
        }

        &::before {
            left: 0;
            translate: -90% -50%;
        }

        &::after {
            right: 0;
            translate: 90% -50%;
        }
    }
}
