@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}
* {
    // Để không bị hightlight nền lên khi nhấn vào
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
a,
img,
button,
input,
label,
textarea,
select {
    padding: 0;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
}

input,
textarea {
    background-color: transparent;
}

// Khi autofill, chrome sẽ bị đổi màu input
// để không bị đổi màu thì dùng câu lệnh phía dưới

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
    // đây thể hiện background vẫn sẽ có hiệu đổi màu
    // thời gian đổi màu là 1s
    // thời gian delay là 99999s
    // nghĩa là sau 99999s thì mới đổi màu
    // nên yên tâm sẽ không bị đổi màu
    transition: background-color 1s 99999s;
    // style của nội dung tự động điền, cũng sẽ khác với style
    // mà mình nhập từ bàn phím vào
    // khắc phục dùng câu lệnh này
    -webkit-text-fill-color: var(--text-color);
    // con trỏ khi nhập vào là màu trắng
    // còn con trỏ tự động điền là màu đen
    // để sửa thành màu trắng dùng caret-color
    caret-color: var(--text-color);
}

.icon {
    filter: var(--icon-color);
}
.container {
    @include abstracts.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: 600;
}

.separate {
    margin: var(--margin) 0;
    height: 1px;
    background-color: var(--separate-color);
}
