<div class="filter-wrap">
    <button class="filter-btn js-toggle" toggle-target="#home-filter">
        Filter
        <img src="./assets/icons/filter.svg" alt="" class="filter-btn__icon icon">
    </button>

    <div id="home-filter" class="filter hide">
        <img src="./assets/icons/arrow-up.png" alt="" class="filter__arrow">
        <h3 class="filter__heading">Filter</h3>
        <form action="" class="filter__form form">
            <div class="filter__row filter__content">
                <!-- Filter column 1 -->
                <div class="filter__col">
                    <label for="" class="form__label">Price</label>
                    <div class="filter__form-group filter__form-group--inline">
                        <div>
                            <div class="filter__form-text-input filter__form-text-input--small">
                                <input type="text" name="" id="" class="filter__form-input" placeholder="Min" value="">
                            </div>
                        </div>
                        <div>
                            <div class="filter__form-text-input filter__form-text-input--small">
                                <input type="text" name="" id="" class="filter__form-input" placeholder="Max" value="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="filter__separate"></div>

                <!-- Filter column 2 -->
                <div class="filter__col">
                    <div class="filter__form-group filter__form-group--large">
                        <div class="form__tags">
                            <div class="form__tag prod-info__tag form__tag--equal">
                                <label class="radio" for="small">
                                    <input value="small" type="radio" name="size" id="small">
                                    Small (500g)
                                </label>
                            </div>
                            <div class="form__tag prod-info__tag form__tag--equal">
                                <label class="radio" for="medium">
                                    <input value="medium" type="radio" name="size" id="medium">
                                    Medium (1000g)
                                </label>
                            </div>
                            <div class="form__tag prod-info__tag form__tag--equal">
                                <label class="radio" for="large">
                                    <input value="large" type="radio" name="size" id="large">
                                    Large (2000g)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter__row filter__footer">
                <button class="btn btn--text filter__cancel js-toggle" toggle-target="#home-filter">
                    Cancel
                </button>
                <button class="btn btn--primary filter__submit js-toggle" toggle-target="#home-filter">
                    Show Result
                </button>
            </div>
        </form>
    </div>
</div>