<div class="container">
    <div class="footer-wrap">
        <div class="footer-left">
            <a href="#!">
                <h3 class="footer__heading">Follow</h3>
            </a>
            <div class="footer-social__list">
                <div>
                    <a href=" #!" class="footer-social__link">
                        <img src="./assets/icons/facebook.svg" alt="">
                    </a>
                </div>
                <div>
                    <a href=" #!" class="footer-social__link">
                        <img src="./assets/icons/tiktok.svg" alt="">
                    </a>
                </div>
                <div>
                    <a href=" #!" class="footer-social__link">
                        <img src="./assets/icons/x-twitter.svg" alt="">
                    </a>
                </div>
            </div>

            <div class="footer-title-wrap">
                <div class="footer-title__list">
                    <div><a href="#!" class="footer-title__item">Baby</a></div>
                    <div>
                        <a href="#!" class="footer-title__item">Children</a>
                    </div>
                    <div>
                        <a href="#!" class="footer-title__item">Student</a>
                    </div>
                </div>
                <div class="footer-title__list">
                    <div>
                        <a href="#!" class="footer-title__item">Fresher</a>
                    </div>
                    <div>
                        <a href="#!" class="footer-title__item">Junior</a>
                    </div>
                    <div>
                        <a href="#!" class="footer-title__item">Senior</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer__heading-wrap">
                <a href="#!">
                    <h3 class="footer__heading">New Arrivals</h3>
                </a>
                <a href="#!">
                    <h3 class="footer__heading">Discounts</h3>
                </a>
                <a href="#!">
                    <h3 class="footer__heading">Contact Us</h3>
                </a>
            </div>

            <div class="footer__desc">
                Subscribe to get the latest on sales, new releases and more ...
            </div>

            <form action="" class="input-wrap">
                <input class="btn btn--rounded input-text-btn" type="text">
                <button class="btn btn--rounded btn--primary input-btn">SUBSCRIBE</button>
            </form>

            <div class="pay-wrap">
                <div class="pay-title">Supported payment systems</div>
                <div class="pay-list">
                    <img src="./assets/icons/visa.png" alt="" class="pay-item">
                    <img src="./assets/icons/master-card.png" alt="" class="pay-item">
                    <img src="./assets/icons/paypal.png" alt="" class="pay-item">
                    <img src="./assets/icons/discover.png" alt="" class="pay-item">
                </div>
            </div>
        </div>
    </div>
</div>