body {
    /* font-family: Arial, sans-serif; */
}

/* h1 {
    color: #333;
} */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 40px;
}
.id-column {
    width: 2%;
}

.name-column {
    width: 15%
}
.description-column {
    width: auto;
}
.description-column-item {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2.0rem;
}
.price-column {
    width: 6%;
}
.actions-column {
    width: 14%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn-primary {
    background-color: #77dae6;
    color: white;
    line-height: 46px;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

.btn-admin--small {
    display: flex;
    justify-content: center;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    padding: 0 10px;
    margin-left: 10px;
}
.btn-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; 
}

.btn-wrap .btn {
    flex: 1;
    min-height: 40px;
}

@media screen and (max-width: 1000px) {
    .btn-wrap {
        flex-direction: column;
    }
}
.modal-admin {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-admin.hide {
    display: none;
}
.modal-admin.show {
    display: block;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 12px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
}

.btn-secondary {
    background-color: #cccccc;
    color: black;
}

.btn-danger {
    background-color: #ff4d4d;
    color: white;
}


.form__row .form__group {
    flex: 1; 
    margin-right: 10px;
    margin-top: 10px;
}

.form__row .form__group:last-child {
    margin-right: 0; 
}
.form__input, .form__text-area-input {
    height: auto;
    border: 1px solid #ccc; /* Màu và độ dày của border */
    border-radius: 4px; /* Độ cong của góc border */
    padding: 4px; /* Khoảng cách giữa nội dung và border */
    width: 100%; /* Đảm bảo input chiếm hết không gian của phần tử cha */
    box-sizing: border-box; /* Đảm bảo padding và border không làm tăng kích thước của input */
}

/* Để không hiển thị scrollbar trong form modal nè */
.modal-admin::-webkit-scrollbar {
    display: none;
  }

.notification {
    position: fixed; 
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 999;
}
/* Thành công thì lấy màu xanh */
.notification-success {
    background-color: #4CAF50; 
}
/* Thất bại thì lấy màu đỏ */
.notification-failure {
    background-color: #f44336; 
}

.confirm-group {
    /* background-color: green; */
    text-align: center;
}

.confirm-group .btn-wrap {
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

#deleteProductModal .modal-content {
    width: 30%;
}
@media screen and (max-width: 1040px) {
    .modal-content {
        margin: 15% auto;
    }
}
@media screen and (max-width: 650px) {
    .modal-content {
        margin: 20% auto;
    }
    #deleteProductModal .modal-content {
        width: 50%;
    }
}

@media screen and (max-width: 490px) {
    .modal-content {
        margin: 25% auto;
    }
}